:root {
  --color-line-in-white: #e6e6f0;
  --color-primary: #4169e1;
  --color-primary-dark: #1e90ff;
  --color-primary-darker: #00bfff;
}

body {
  background-image: url("background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.containe {
  background: transparent;
  width: 1200px;
  height: 1800px;
  margin: 0 auto;
}

.container-center {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tophome {
  background-color: #000000;
  width: 1190px;
  height: 160px;
  margin-left: 5px;
  margin-top: 5px;
}

.logotipo {
  background-color: #4169e1;
  width: 1180px;
  height: 150px;
  margin-top: 5px;
  margin-left: 5px;
  float: left;
}

img.logotipo {
  width: 98px;
  height: 98px;
}

h2 {
  font-size: 60px;
  background-color: #4169e1;
  color: #fff;
  text-align: center;
  margin-top: 35px;
}

.elemento {
  width: 70%;
  border: 7px solid var(--color-primary-darker);
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 0.4rem;
}

img {
  max-width:230px;
  max-height:190px;
  width: auto;
  height: auto;
}

.descricao {
  background-color: #fff;
  width: 650px;
  height: 190px;
  margin-left: auto;
  text-align: center;
  font-family: Arial;
  font-size: 1.5rem;
}

footer {
  background-color: #4169e1;
  width: calc(100% - 4rem);
  height: auto;

  margin-top: 2rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

.footerName {
  background-color: #00bfff;
  text-align: center;
}

p {
	line-height: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.footerCopy {
  text-align: center;
}
